.contato-bg {
  background: #010916;
}

.contato {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 100px;
  padding-bottom: 150px;
  align-items: center;
}

.contato h1 {
  grid-column: 1 / -1;
  padding-bottom: 100px;
}

.contato-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  place-content: center;
}

.contato-lista li {
  display: flex;
  flex-flow: column;
  place-items: center;
  gap: 15px;
  padding: 50px;
  width: 50px;
  background: #354353;
  border-radius: 5px;
  border: transparent 2px solid;
}

.contato-lista li:hover {
  border: #707983 2px solid;
  transition: 0.5s;
  background-color: #315b9c;
}

@media (max-width: 800px) {
  .contato h1 {
    text-align: center;
  }
  .contato {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .contato-lista {
    display: grid;
  }
}
