.header-bg {
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.header-menu li {
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}
