.introducao-bg {
  background-image: url('/img/img-cod.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.introducao-vidro {
  background-color: rgba(0, 0, 0, 0.2);
}

.introducao {
  display: grid;
  gap: 200px;
  padding-top: 150px;
  padding-bottom: 150px;
  grid-template-columns: 1fr 1fr;
}

.introducao-div {
  display: grid;
  place-content: center;
  /* gap: 30px; */
}

.introducao-div h1 {
  padding-bottom: 10px;
}

.introducao-div h2 {
  padding-bottom: 30px;
}

.introducao-info {
  padding-bottom: 15px;
}

.introducao-socialmedia {
  padding-bottom: 50px;
}

/* .introducao-div ul {
  padding-bottom: 25px;
} */

.introducao-info p {
  font-size: 16px;
}

.cv {
  background-color: #315b9c;
  max-width: max-content;
  border-radius: 5px;
  padding: 15px 30px;
}

.introducao-socialmedia {
  display: flex;
  gap: 5px;
}

.introducao-socialmedia li img {
  width: 25px;
  height: 25px;
}

.introducao-foto img {
  object-fit: cover;
  max-width: 60%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-foto {
    display: none;
  }
}
